* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    /* border: 1px solid grey; */
    line-height: 1;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    margin: 40px 0 10px 0;
}

header nav {
    width: 35em;
    margin: 30px 0px 35px 0;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    font-weight: 900;
}

header nav ul li a:hover {
    color: aqua;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 24px;
}

main h1 {
    width: 500px;
    background-color: rgb(39, 36, 36);
    color: white;
    font-weight: 900;
    padding: 15px;
    margin: 20px;
    font-size: 2.25em;
    text-transform: uppercase;
}

main img {
    margin: 10px;
    width: 35%;
    border: 2px solid black ;

}

/* main img:hover {
    opacity: 10;
} */

main h2 {
    /* font-size: 20px; */
    margin: 30px 0 0 0;
    width: 35%;
}

#gallery-post {
    width: 350px;
    color: white;
    padding: 15px 15px;
    font-size: 2em;
    margin: 20px 0;
    background-color: rgb(39, 36, 36) ;
    text-transform: uppercase;
}

main p {
    width: 28%;
}

main p:nth-last-child(1) {
    margin: 0 0 30px 0;
}

/* main p:nth-child(last-child) {
    margin-bottom: 100px;
} */

main p a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

footer {
    height: 125px;
    background-color: darkgrey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 30px 0;
}

footer nav ul {
    display: flex;
    margin: 0;
	overflow: hidden;
	padding: 0;
}

footer nav ul li {
    /* display: flex; */
    list-style: none;
    margin: 0 10px;
    padding: 0;
    width: 44px;
}

footer nav ul li a {
    background: url(img-folder/icons.jpg) no-repeat 0 0;
    display: block;
    height: 44px;
    margin: 0;
    padding: 0;
    /* text-indent: -99999px; */
    width: 44px;
    text-decoration: none;
}

#twitter {
    background-position: 0 0;
}

#twitter:hover {
    background-position: -44px 0;
}

#facebook {
    background-position: 0 -44px;
}

#facebook:hover {
	background-position: -44px -44px;
}

#googleplus {
    background-position: 0 -88px;
}

#googleplus:hover {
    background-position: -44px -88px;
}

#pinterest {
	background-position: 0 -132px;
}

#pinterest:hover {
	background-position: -44px -132px;
}