* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    line-height: 1;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px;
}

header img {
    margin: 40px 0 10px 0;
}

header nav {
    width: 35em;
    margin: 30px 0px 35px 0;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    font-weight: 900;
}

header nav ul li a:hover {
    color: aqua;
}

main {
    position: relative;
}

main img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}


.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -171px 0 -480px;
    padding: 0 0 0 20px;
}

.main-container h2, h3, button {
    margin: 10px;
    padding: 15px;
    font-weight: 700;
    align-self: flex-start;
}

.main-container h2 {
    background-color: white;
    font-size: 1.7em;
}

.main-container h3 {
    background-color: grey;
    font-size: 1.20em;
}

.main-container button {
    background-color: rgb(41, 112, 112);
    color: rgb(207, 198, 198);
    border: 0;
    cursor: pointer;
}

.main-container button a {
    text-decoration: none;
    color: white;
}

.main-container button:hover {
    opacity: .7;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    /* padding: 0 100px; */
}

section a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: grey;
    font-weight: 900;
    padding: 0 20px;
}

section a img {
    border: 2px solid grey;
}

section a img:hover {
    opacity: .8;
    transition: 0.5s ease-in-out;
}

section a h2 {
    padding: 25px 0 10px;
    text-transform: uppercase;
    color: black;
}

footer {
    height: 125px;
    background-color: darkgrey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 30px 0;
}

footer nav ul {
    display: flex;
    margin: 0;
	overflow: hidden;
	padding: 0;
}

footer nav ul li {
    list-style: none;
    margin: 0 10px;
    padding: 0;
    width: 44px;
}

footer nav ul li a {
    background: url(img-folder/icons.jpg) no-repeat 0 0;
    display: block;
    height: 44px;
    margin: 0;
    padding: 0;
    /* text-indent: -99999px; */
    width: 44px;
    text-decoration: none;
}

#twitter {
    background-position: 0 0;
}

#twitter:hover {
    background-position: -44px 0;
}

#facebook {
    background-position: 0 -44px;
}

#facebook:hover {
	background-position: -44px -44px;
}

#googleplus {
    background-position: 0 -88px;
}

#googleplus:hover {
    background-position: -44px -88px;
}

#pinterest {
	background-position: 0 -132px;
}

#pinterest:hover {
	background-position: -44px -132px;
}

@media (max-width: 960px) {
    main img {
        width: 100%;
        height: 100%;
    }

    .main-container {
        left: 0%;
        top: 0%;
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        opacity: .7;
    }

      .main-container h2, h3, button {
        width: auto;
        height: auto;

    }

      section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    } 
}

/* main {
    width: 100%;
    height: 733px;
    background-image: url("img-folder/the-beacon.jpg");
    background-color: aquamarine;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 500px;
} */